.product-card {
  margin: 0 8px;
  cursor: pointer;
}
.product-card-body {
  position: relative;
  height: auto;
}
.product-card-body img {
  width: 100%;
  height: auto;
}

.product-card-tags {
  position: absolute;
  top: 8px;
  left: 8px;
}
.product-card-tags p {
  font-size: 12px;
  background-color: var(--white);
  padding: 4px 6px;
}

.product-card-texts {
  margin-top: 8px;
}

.product-card-stars {
  margin: 8px 0px;
}

@media screen and (max-width: 768px) {
  .product-card {
    margin: 0 4px;
  }
}
